.idea
/data/asl_alphabet_train/
/data/asl_alphabet_test/
/data/asl_alphabet_val/
/asl_tuning
models/alexnet_tuned.h5
models/alexnet_tuned.tflite
/keras_tuner/alexnet_tuning
models/alexnet_tuned2.h5
models/alexnet_tuned2.tflite
models/keras_model.h5
models/alexnet_tuned3.h5
models/alexnet_tuned3.tflite
.python-version
.venv
src/asl_sign_language_classifier.egg-info
uv.lock